{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Hello in my website</h1>
        <p class="lead">Nous mettons en relations les voyageurs et les proprétaires qui veulent profiter d'opportunités et gagner de l'argent .</p>
        <hr class="my-4">
        <p>Vous etes voyageur? et vous voulez voir ou vous pouvez loger pour votre prochain déplacement?.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres,<strong>49$ ; / nuit </strong></strong> <br>
                        <small>pas encore noté</small>
                    </div>
                <img src="http://placehold.it/1000*400" alt="image de l'appartement" style="height: 200px; width: 100%; display: block ">
                    <div class="card-body">
                        <h4 class="card-title">Appartemet hayte standing</h4>
                        <a href="" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres,<strong>49$ ; / nuit </strong></strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000*400" alt="image de l'appartement" style="height: 200px; width: 100%; display: block ">
                    <div class="card-body">
                        <h4 class="card-title">Appartement haut standing</h4>
                        <a href="" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres,<strong>49$ ; / nuit </strong></strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000*400" alt="image de l'appartement" style="height: 200px; width: 100%; display: block ">
                    <div class="card-body">
                        <h4 class="card-title">Appartemet hayte standing</h4>
                        <a href="" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

